/**{ !* baseline format for footer *!*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    text-decoration: none;*/
/*}*/

/*footer { !* format the whole footer *!*/
/*    width: 100%;*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    padding: 10px 0;*/
/*    box-sizing: border-box;*/
/*    background-color: #ffffff;*/
/*    color: #fff;*/
/*}*/



footer {
    background-color: rgb(203,210,218);
    padding: 10px 0;
    width: 100%;
    position: absolute; /* Fixed position can also be used */
    bottom: 0;
    left: 0;
}

body {
    position: relative;
    min-height: 100vh; /* This ensures that the body is at least as tall as the viewport */
    padding-bottom: 60px; /* Space for the footer */
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Aligns items to the start, center, and end */
    align-items: center; /* Aligns items vertically */

    margin: 0 auto; /* Centers the footer container */
    padding: 0 20px;
}

.footer-logo img {
    height: 50px; /* Adjust the logo size */
}

.footer-text {
    /* Style your text here */
}

.footer-buttons button {
    margin: 0 10px; /* Spacing between buttons */
    padding: 10px 20px; /* Button padding */
    /* Additional button styling */
}
