*{ /* Baseline format for the header */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    text-align: center;
    /* background-image: url('library_pic_background.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed; */
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.library_pics {
    flex: 1;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
}

.library_pics img {
    margin: 10px;
    max-width: 100%;
    height: auto;
}

.library_pics button {
    background-color: peru;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.library_pics button:hover {
    background-color: orange;
    transform: scale(1.1);
}

.library_pics button:active {
    background-color: chocolate;
    transform: scale(0.9);
}

.books_in_stock {
    flex: 1;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
}

.books_in_stock img {
    margin: 10px;
    max-width: 100%;
    height: auto;
}

.books_in_stock button {
    background-color:peru;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.books_in_stock button:hover {
    background-color: orange;
    transform: scale(1.1);
}

.books_in_stock button:active {
    background-color: chocolate;
    transform: scale(0.9);
}
