*{ /* Baseline format for the header */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0;
        min-height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 80px;
        color: black;
    }

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(75vh - 80px);
}

.main-container{
    min-height: calc(100vh - 80px - 60px)
}


.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    display: flex;
    flex-direction: row; /* Ensure this is set */
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.library_pics, .books_in_stock {
    flex: 1; /* Adjust this value if needed */
    display: flex;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}



.library_pics img {
    margin: 10px;
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    z-index: 2;
    margin-bottom: 100px;
    margin-top: 100px;

}
.library_pics button {
    background-color: rgb(203, 210, 218);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.library_pics button:hover {
    background-color: rgb(203, 210, 218);
    transform: scale(1.1);
}

.library_pics button:active {
    background-color: rgb(103, 101, 101);
    transform: scale(0.9);
}


.books_in_stock img {
    margin: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.books_in_stock button {
    background-color:rgb(203, 210, 218);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

button {
    margin-right: 20px;
    background-color: rgb(203, 210, 218);
    color: black;
    padding: 9px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s, background-color 0.3s;
}

input {
    margin-right: 20px;
    background-color: rgb(203, 210, 218);
    color: black;
    padding: 9px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s, background-color 0.3s;
    margin-bottom: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    h1, h2, h3 {
        font-size: 1.5em;
    }

    table, th, td {
        font-size: 0.8em;
    }
}
.books_in_stock button:hover {
    background-color: rgb(180, 179, 177);
    transform: scale(1.1);
}

.books_in_stock button:active {
    background-color: rgb(91, 90, 89);
    transform: scale(0.9);
}

.button-container {
    display: flex;
}

.receipt_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5px;
    font-size: 22px;
}

.receipt_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media print{
    header, body footer{
        display: none;
    }

    .receipt_body, .main-container{
        min-height: 0;
        height: auto;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .receipt_items{
        height: auto;
        page-break-inside: avoid;
    }
}

.foot_head_fixer{
    padding-top: 80px;
    min-height: calc(73vh - 80px);
}

.indexcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 10px; /* space between images */
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-bottom: 20px;
}

.image-container {
    display: inline-block; /* Inline-block will make the container fit the content */
    position: relative; /* Set the container to relative */
    width: 50%; /* Adjust the width as needed */
    text-align: center; /* Center text for the label */
}


.image-container img {
    width: 100%; /* The image will fill the container's width */
    height: auto;
    display: block; /* Ensures the image takes the full width of its container */
}



.image-container span {
    position: absolute; /* Position the label absolutely */
    top: 50%; /* Center vertically */
    left: 0; /* Start from the left edge */
    right: 0; /* Stretch to the right edge */
    transform: translateY(-50%); /* Adjust vertical centering */
    color: white; /* White text */
    font-weight: bold; /* Bold text */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px 0; /* Padding top and bottom */
    margin: 0; /* Remove any default margin */
    border-radius: 5px; /* Rounded corners for background */
}


