<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}
<body>

<details>

	<summary><b><h3 style="font-size:40px;">About Us</h3>
        <h3 style="font-size:22px;">What is the SilverSmart Library?</h3></b></summary>
    <br><p>SilverSmart Library was originally founded in 19XX by a handful of passionate individuals that had in
    common the desire to promote and foster education and </br> learning. Keeping that spirit in mind,
    we are proud to make available to the public an extensive collection of materials on a wide variety of topics.
    </p>
    <br>
    </br>

</details>
<details>
	<summary><b><h3 style="font-size:22px;">What can I find in the Library?</h3></b></summary>
    <p>SilverSmart Library hosts a wide variety of materials including but not limited to:
    	<br>
            <ul>
        	<li>Novels</li>
        	<li>Magazines</li>
            <li>Scholarly Articles</li>
            <li>DVDs</li>
            <li>...and more!</li>
            </ul>
        </br>
</details>
<details>
	<summary><b><h3 style="font-size:22px;">May I rent items from the Library?</h3></b></summary>
    <p>All patrons with a valid library ID card are able to rent up to 20 items from the library at a time. To obtain a library card, you may either:
    	<br>
        <ul>
        	<li>Sign up to receive a valid card online.</li>
            <li>Visit us in-person to register for a valid card.</li>
        </ul>
        </br>
</details>
<details>
	<summary><b><h3 style="font-size:22px;">How can I contact the Library?</h3></b></summary>
    <p>You may contact us through the following avenues:
        <br>
    	<ul>
        	<li>Email: SSLibrary01@website.com</li>
            <li>Phone: (000)000-0000</li>
            <li>...or come visit us in-person at 0000 Road Lane Ave.!</li>
        </ul>
        </br>
</details>

</body>
</html>
{% include 'footer.html' %}