
{% include 'header.html' %}
<body>

        <br>
        <h2>Accessibility Statement for SilverSmart Library</h2>
        <details><summary><h3>Measures to support accessibility</h3></summary>
        <p>SilverSmart Library takes the following measures to ensure accessibility of SilverSmart Library:
        </p>
        <ul>
            <li>Include accessibility as part of our mission statement.</li>
            <li>Include accessibility throughout our internal policies.</li>
        </ul>
    </details>
        <details><summary><h3>Conformance status</h3></summary>
            <p>The Web Content Accessibility Guidelines (WCAG) defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. SilverSmart Library is
                partially conformant with WCAG 2.1 level AA Partially conformant means that some parts of the content do not fully conform to the accessibility standard.</p>
        </details>
        <details><summary><h3>Feedback</h3></summary>
        <p>We welcome your feedback on the accessibility of SilverSmart Library. Please let us know if you encounter accessibility barriers on
            SilverSmart Library:</p>
        <ul>
            <li>
            Phone:
            (000) 000-0000
            </li>
            <li>
            E-mail:
            SSLibrary01@website.com</a>
            </li>
            <li>
            Visitor Address:
            0000 Road Lane Ave.
            </li>
        </ul>
        <p>We try to respond to feedback within 2 business days.</p>
        <br>
    </details>
</body>

{% include 'footer.html' %}
