{% include 'header.html' %}
<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding-top: 80px;
        }
        .main-content1{
            min-height: calc(75vh - 80px);
        }
        h2 {
            background-color: rgb(203, 210, 218);
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="number"] {
            width: 95%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: rgb(203, 210, 218);
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: rgb(71, 74, 74);
        }
        p {
            font-weight: bold;
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        ul li {
            margin-bottom: 5px;
        }
    </style>
<div class="main-content1">
<h2>New Patron Registration</h2>
<form action="{{ url_for('create_patron') }}" method="post">

  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" required>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>

  <label for="phoneNum">Phone Number:</label>
  <input type="text" id="phoneNum" name="phoneNum" required>

  <input type="submit" value="Add Patron">
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>
{{ toastr.include_toastr_js() }}
{%  include 'footer.html' %}
