
{% include 'header.html' %}

<h1 style="text-align:center">Donate</h1>
<br>
<h3 style="text-align:center">Interested in helping us keep our extensive collection here at SilverSmart Library<br>
available to the public? Looking to help promote education and research skills? Consider donating!</h3>
<br>
<h3 style="text-align:center">Contact us:</h3>
<br>
<p style="text-align:center">Email: SSLibrary01@website.com</p>
<p style="text-align:center">Phone: (000)000-0000</p>
<p style="text-align:center"> ...or come visit us in-person at 0000 Road Lane Ave.!</p>
<br>
<h3 style="text-align:center">We here at SilverSmart Library thank you for your consideration!</h3>
<br><br>

{% include 'footer.html' %}
