<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer_styles.css') }}">
    <title></title>
</head>

        <footer style="background-color: #a9acad;">
            <div class="footer_third">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/library_logo.png') }}" alt="Silversmart Library logo">
{#                    <img src="{{ url_for('static', filename='images/library_logo_2.png') }}" alt="Silversmart Library logo 2">#}
                </div>

{#                <div class="footer_third">#}
{#                    <h1>Site Info</h1>#}
{#                    <a href="{{ url_for('accessibility') }}">Accessibility</a>#}
{#                    <a href="{{ url_for('privacy') }}">Privacy Policy</a>#}
{#                    <a href="{{ url_for('terms_pay') }}">Terms of Payment</a>#}
{#                    <a href="{{ url_for('terms_use') }}">Terms of Use</a>#}
{#                </div>#}
{#            <div class="footer_third">#}
{#                <h1>Support Us</h1>#}
{#                <a href="#">Friends of the Library</a>#}
{#                <a href="{{ url_for('volunteer') }}">Volunteer</a>#}
{#                <a href="#">Library Foundation</a>#}
{#                <a href="{{ url_for('donate') }}">Donate</a>#}
{#            </div>#}
                <form action="{{ url_for('seed_db_route') }}" method="post">
                <input type="submit" value="Seed Database" />
            </form>
            </div>
        </footer>
</body>
</html>