<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer_styles.css') }}">
    <title></title>
</head>
<body>
    <footer style="background-color: #a9acad;">
        <div class="inner_footer">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/library_logo.png') }}" alt="Silversmart Library logo">
                <div class="social-icons" style="width: 50px; height: 50px;">
                    <a href="https://www.facebook.com/your_facebook_page_url">
                        <img src="{{ url_for('static', filename='images/facebook_icon.png') }}" alt="Facebook" style="width: 50px; height: 50px;">
                    </a>
                    <a href="https://www.instagram.com/your_instagram_username/">
                        <img src="{{ url_for('static', filename='images/instagram_icon.png') }}" alt="Instagram" style="width: 50px; height: 50px;">
                    </a>
                    </a>
                    <a href="https://www.youtube.com/your_instagram_username/">
                        <img src="{{ url_for('static', filename='images/youtube_icon.png') }}" alt="Instagram" style="width: 50px; height: 50px;">
                    </a>
                </div>
            </div>

            <div class="footer_third">
                <h1>Site Info</h1>
                <a href="{{ url_for('accessibility') }}">Accessibility</a>
                <a href="{{ url_for('privacy') }}">Privacy Policy</a>
                <a href="{{ url_for('terms_pay') }}">Terms of Payment</a>
                <a href="{{ url_for('terms_use') }}">Terms of Use</a>
            </div>

            <div class="footer_third">
                <h1>Support Us</h1>
                <a href="#">Friends of the Library</a>
                <a href="#">Volunteer</a>
                <a href="#">Library Foundation</a>
                <a href="#">Donate</a>
            </div>
        </div>
    </footer>
</body>
</html>