<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>SilverSmart Library</title>
    <header style="background-color: #948E99;">
        <div class="logo">
            <a href="http://127.0.0.1:5000">
                <img src="{{ url_for('static', filename='images/library_logo.png') }}" alt="Silversmart Library Logo">
            </a>
        </div>
        <div class="drop_down">
            <button class="drop_button">=</button>
            <div class="drop_content">
                <a href="#">Check-In</a>
                <a href="{{ url_for('checkout') }}">Check-Out</a>
            </div>
        </div>
        <div class="tool_bar">
            <nav>
                <ul>
                    <button href="#">Home</button>
                    <a href="http://127.0.0.1:5000/about">
                    <button href="#">About</button>
                    </a>
                </ul>
            </nav>
        </div>
    </header>
</head>