<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>SilverSmart Library</title>
    <header>
        <div class="logo">
            <a href="{{ url_for('library') }}"> <img src="{{ url_for('static', filename='images/library_logo.png') }}" alt="Silversmart Library Logo"></a>
        </div>
        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        {{ toastr.message() }}
        <script>
        </script>
        <div class="tool_bar">
            <nav>
                <ul>
                    <li><a class="nav-button" href="{{ url_for('library') }}">Home</a></li>
                    <li><a class="nav-button" href="{{ url_for('search') }}">Search</a></li>
                    <li><a class="nav-button" href="{{ url_for('checkout') }}">Check-Out</a></li>
                    <li><a class="nav-button" href="{{ url_for('checkin') }}">Check-In</a></li>
                    <li><a class="nav-button" href="{{ url_for('add_item') }}">New Item</a></li>
                    <li><a class="nav-button" href="{{ url_for('add_patron') }}">New Patron</a></li>
                    <li><a class="nav-button" href="{{ url_for('database_overview') }}">DB Summary</a></li>

                </ul>
            </nav>
        </div>
    </header>
</head>