
{% include 'header.html' %}
<body>
    <main>
        <div class="library_pics">
            <button href="#">Libaray Photos</button>
            <img src="{{ url_for('static',filename='images/silversmart_inside.png') }}" alt="Library Pitures">
        </div>

        <div class="books_in_stock">
            <button href="#">Book Selection</button>
            <img src="{{ url_for('static',filename='images/books_in_stock.png') }}" alt="Books in Stock">
        </div>
    </main>
</body>

{% include 'footer.html' %}
