
{% include 'header.html' %}
<body>
    <div class="main-content">
        <div class="container">
            <h2>Welcome to the SilverSmart Library System!</h2>

            <form action="{{ url_for('seed_db_route') }}" method="post">
                <input type="submit" value="Seed Database" />
            </form>
            <form action="{{ url_for('database_summary') }}" method="get">
                <button type="submit">View Database Summary</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

          </div>
    </div>
</body>

{% include 'footer.html' %}
