{% include 'header.html' %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding-top: 30px;
        }
        .main-content1{
            display: block;
            min-height: calc(75vh - 80px);
        }
         h2 {
            background-color: rgb(203, 210, 218);
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: block
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="number"] {
            width: 95%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            display: inline-block;
            width: 100%;
            padding: 10px;
            background-color: rgb(203, 210, 218);
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: rgb(71, 74, 74);
        }
        p {
            padding: 4px;
            text-align: left;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin-left: 5px;
        }
        ul li {
            margin-bottom: 5px;
        }
        .receipt {
            border: 1px solid #ddd;
            padding: 20px;
            background-color: #fff;
            margin-top: 20px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin: 0 auto; /* Center the table horizontally */
        }
        th, td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        th {
            background-color: silver;
        }
        .unique-list-container {
            display: flex;
            flex-direction: column;

        }
        /* This will only affect ul elements with the class 'checkout-items' */
        .checkout-items {
            display: flex;
            flex-direction: column;
            padding-left: 0; /* Remove default list padding */
        }

        /* This will only affect li elements inside ul elements with the class 'checkout-items' */
        .checkout-items li {
            display: block; /* Makes the li stack vertically */
            margin-bottom: 5px; /* Spacing between items */

        }



    </style>

<body>
<h2>Item Checkout</h2>
<div class="main-content1">
<form action="{{ url_for('checkout') }}" method="post">
    <label for="patron_id">Enter Patron ID:</label>
    <input type="text" id="patronID" name="patronID" required>
    <button type="submit">Verify Patron</button>
</form>

{% if patron %}
<div style="float: left; margin-left: 65px; font-size: 25px;">
    <p><strong> Current Patron Information</strong></p>
    <p><strong>Patron Name: </strong>{{ patron.firstName }} {{ patron.lastName }}</p>
    <p><strong>Email: </strong>{{ patron.email }}</p>
    <p><strong>Phone Number: </strong>{{ patron.phoneNum }}</p>
    <p><strong>Items Rented: </strong>{{ patron.itemsRented }}</p>
</div>
    <!-- Show books checked out by patron -->
    {% if patron.itemsRented > 0 %}
        <form>
        <button id="showBooksButton" type="button" onclick="toggleTableVisibility()">Show Checked-Out Books</button>
        <table id="booksTable" style="display: none;">
            <tr>
                <th>Item Name</th>
                <th>Item Branch</th>
                <th>Due Date</th>
            </tr>
            {% for checkout in checkouts %}
                {% if patron.patronID == checkout.patronID %}
                    {% for item in items_information %}
                        {% if item.itemID == checkout.itemID %}
                            <tr>
                                <td>{{ item.itemTitle }}</td>
                                <td>{{ item.itemBranch }}</td>
                                <td>{{ checkout.dueDate }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
        </form>

    {% endif %}


    {% if is_expired %}
        <!-- Renewal message and button -->
        <form action="{{ url_for('checkout') }}" method="post" >
            <p>Your ID has expired. Would you like to renew it?</p>
            <input type="hidden" name="patronID" value="{{ patron.patronID }}">
            <button type="submit" name="renew">Renew ID</button>
        </form>
    {% elif patron.acctBalance > 0 %}
        <!-- Balance message and payment form -->

        <form action="{{ url_for('checkout') }}" method="post">
            <p style="text-align: center">Your account has a balance of ${{ patron.acctBalance }}. <br> Please make a payment to continue.</p>
            <input type="hidden" name="patronID" value="{{ patron.patronID }}">
            <input type="number" name="payment" step="0.01" min="0.01" max="{{ patron.acctBalance }}" required>
            <button type="submit">Make Payment</button>
        </form>
    {% else %}
        <!-- Add item to checkout list -->
        <form action="{{ url_for('checkout') }}" method="post">
            <input type="hidden" name="patronID" value="{{ patron.patronID }}">
            <label for="itemId">Enter Item ID:</label>
            <input type="text" id="itemId" name="itemId" required>
            <button type="submit" name="add_item">Add Item</button>
        </form>
    {% endif %}

    <!-- List of items to checkout -->
    {% if checkout_items %}

    <div class="unique-list-container">
       <ul class="checkout-items">
            {% for item_id in checkout_items %}
                {% if item_id and item_id|int in items %}
                    <li style="text-align: center;">
                        {{ items[item_id|int].itemTitle }} added to checkout!flaskflask run
                        <form action="{{ url_for('checkout') }}" method="post" style="display: inline-block; background-color: transparent; border:none; box-shadow: none">
                            <input type="hidden" name="patronID" value="{{ patron.patronID }}">
                            <input type="hidden" name="itemIDToRemove" value="{{ item_id }}">
                            <button type="submit" name="remove_item" style="background-color: red; color: #fff; border: none; border-radius: 5px; padding: 5px;">X</button>
                        </form>
                    </li>
                {% else %}
                    <li>Item {{ items[item_id|int].itemId }} not found or does not exist.</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
        <!-- Confirm Checkout -->
        <form action="{{ url_for('checkout') }}" method="post">
            <input type="hidden" name="patronID" value="{{ patron.patronID }}">
            <button type="submit" name="confirm_checkout" >Confirm Checkout</button>
        </form>

<!-- Clear checkout list-->
        <form action="{{ url_for('checkout') }}" method="post">
            <input type="hidden" name="patronID" value="{{ patron.patronID }}">
            <button type="submit" name="cancel_checkout">Cancel Checkout</button>
        </form>



    {% endif %}
    <!-- Display receipt after checkout -->
    {% if receipt_data %}
        <div class="receipt">
            <h3>Receipt</h3>
            <p>Patron: {{ patron.firstName }} {{ patron.lastName }}</p>
            <p>Items Checked Out:</p>
            <ul>
                {% for item in receipt_data %}
                    <li>{{ item.item_title }} - Due: {{ item.due_date }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Print Button -->
        <button onclick="window.print()">Print Receipt</button>
    {% endif %}
{% elif add_patron %}
    <!-- Form to add a new patron, include form fields as needed -->
    <form action="{{ url_for('add_patron') }}" method="post">
        <!-- Include your input fields for adding a patron here -->
        <button type="submit">Add New Patron</button>
    </form>
{% endif %}

<!-- Button to navigate to add a new patron -->
<form action="{{ url_for('add_patron') }}" method="get">
    <button type="submit">Add New Patron</button>
</form>

<script>
    function toggleTableVisibility() {
        var booksTable = document.getElementById("booksTable");
        if (booksTable.style.display === "none") {
            booksTable.style.display = "table";
        } else {
            booksTable.style.display = "none";
        }
    }
</script>

{{ toastr.include_toastr_js() }}
</div>
</body>

{% include 'footer.html' %}