{% include 'header.html' %}
<body class="receipt_body">
    <div class="main-container">
    <h3>Receipt</h3>
    <p>Patron: {{ patron.firstName }} {{ patron.lastName }}</p>
    <p>Items Checked Out:</p>
    <ul class="receipt_items">
        {% for item in receipt_data %}
            <li>{{ item.item_title }} - Due: {{ item.due_date }}</li>
        {% endfor %}
    </ul>

    <button onclick="printReceipt()" style="font-size: 20px">Print this page</button>

    <script>
        function printReceipt() {
            window.print();
        }
    </script>
    </div>
</body>
{% include 'footer.html' %}
