{% include 'header.html' %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding-top: 80px;
    }
    .main-content1{
        min-height: calc(75vh - 80px);
    }
    h2 {
        background-color: rgb(203, 210, 218);
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="text"], input[type="number"] {
        width: 95%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: rgb(203, 210, 218);
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: rgb(71, 74, 74);
    }
    p {
        font-weight: bold;
        text-align: center;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    ul li {
        margin-bottom: 5px;
    }
</style>
<body>
    <h2>Search Page</h2>
    <div>
        <!-- Form 1 -->
        <form action="/search" method="post"  style="margin-bottom: 20px; clear: left;">
            <label for="patron_lastName">Enter Patron Last Name:</label>
            <input type="text" id="lastName" name="lastName">
            <button type="submit">Search</button>
        </form>
        {% if patron %}
            <div style="float: left; margin-left: 65px; font-size: 25px;">
                <p><strong>Patron Name: </strong>{{ patron.firstName }} {{ patron.lastName }}</p>
                <p><strong>Email: </strong>{{ patron.email }}</p>
                <p><strong>Phone Number: </strong>{{ patron.phoneNum }}</p>
                <p><strong>Items Rented: </strong>{{ patron.itemsRented }}</p>
                <p><strong>Account Balance: </strong>{{ patron.acctBalance }}</p>
            </div>
        {% endif %}
        <!-- Form 2 -->
        <form action="/search" method="post" style="margin-bottom: 20px; clear: left;">
            <label for="item_Title">Enter Item Title:</label>
            <input type="text" id="itemTitle" name="itemTitle">
            <button type="submit">Search</button>
        </form>
        {% if item %}
            <div style="float: left; margin-left: 65px; font-size: 25px;">
                <p><strong>Item Title: </strong>{{ item.itemTitle }}</p>
                <p><strong>Item Branch: </strong>{{ item.itemBranch }}</p>
                <p><strong>Item Availability: </strong>{{ item.isAvailable }}</p>
                <p><strong>Items Condition: </strong>{{ item.itemCondition }}</p>
            </div>
        {% endif %}
        <!-- Form 3 -->
        <form action="/search" method="post" style="margin-bottom: 20px; clear: left;">
            <label for="author_lastName">Enter Author Last Name:</label>
            <input type="text" id="lastName" name="lastName">
            <button type="submit">Search</button>
        </form>
        {% if author %}
            <div style="float: left; margin-left: 65px; font-size: 25px;">
                <p><strong>Author Name: </strong>{{ author.firstName }} {{ author.lastName }}</p>
                <p><strong>Authored Items: </strong>{{ patron.email }}</p>
            </div>
        {% endif %}
    </div>
    {{ toastr.include_toastr_js() }}
</body>
{% include 'footer.html' %}