
{% include 'header.html' %}

<br>
<h2>Terms of Payment for SilverSmart Library</h2>
<p>Payment is due within a number of days determined by items rented. A late fee determined by the items rented
    applies after the due date. Please reference the rental invoice number during payment. Report any discrepancies
    within 7 days of receipt.</p>
<h2>Accepted Payment Methods</h2>
<p>SilverSmart Library accepts the following payment methods:</p>
<ul>
    <li>Cash</li>
    <li>Credit</li>
    <li>Debit</li>
</ul>
<p>Payments must be made in-person upon return of rented items.</p>

<br>

{% include 'footer.html' %}
