
{% include 'header.html' %}

<h1 style="text-align:center">Volunteering</h1>
<br>
<h1 style="text-align:center">Education for our Future</h1>
<br>
<h3 style="text-align:center">At SilverSmart Library, we are excited to offer volunteering opportunities to those<br>
with a passion for the past, present, and future.</h3>
<br><br>
<h1 style="text-align:center">Volunteering Opportunities</h1>
<br>
<h3 style="text-align:center">Opportunities we seek volunteers for include:</h3>
<ul style="text-align:center">
    <li>Holding special book sales</li>
    <li>Shelving books and other items</li>
    <li>Helping with fundraisers</li>
    <li>...and more!</li>
</ul>
<br><br>
<h3 style="text-align:center">Interested? Have questions? Contact us:</h3>
<br>
<p style="text-align:center">Email: SSLibrary01@website.com</p>
<p style="text-align:center">Phone: (000)000-0000</p>
<p style="text-align:center"> ...or come visit us in-person at 0000 Road Lane Ave.!</p>
<br><br>

{% include 'footer.html' %}
